<md-content layout="column" layout-align="center center">
	<div flex>
	    <span><a href="#">Tour</a></span>
	    <span><a href="#">Pricing</a></span>
	    <span><a href="#">Apps</a></span>
	    <span><a href="#">About</a></span>
	    <span><a href="#">Help</a></span>
	    <span><a href="#">Legal</a></span>
	</div>

	<div flex>
		<p>&copy; Copyright 2017, MYAPPNAME, Inc. All rights reserved.</p>
	</div>
</md-content>