<div class="home-hero" layout="row" layout-align="center center">
	<div ng-controller="homeController" ng-repeat="home in homeContent" >
	    <h1 class="md-display-4">{{home.heading}}</h1>

	    <p>{{home.tagline}}</p>
	</div>	
</div>


<div ng-controller="homeController" ng-repeat="homeSection in homeSectionContent">
    <h1>{{homeSection.heading}}</h1>
    <p>{{homeSection.tagline}}</p>
</div>
