<md-toolbar layout="row" layout-align="left center" class="md-padding">
  	<span layout="column" ui-sref="app"  layout-fill>App title</span>

<!-- 	<md-menu>
		<md-button ng-click="$mdMenu.open($event)" layout="column" class="md-icon-button" aria-label="Menu">
		  <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
		</md-button>
		<md-menu-content>
			<md-menu-item>
				<md-button md-menu-item ui-sref="app.nerds">
					<md-icon md-menu-align-target md-svg-icon="img/icons/menu.svg"></md-icon>
					Login
				</md-button>
			</md-menu-item>
			<md-menu-item>
				<md-button md-menu-item ui-sref="app.nerds">
					<md-icon md-menu-align-target md-svg-icon="img/icons/menu.svg"></md-icon>
					Sign up
				</md-button>
			</md-menu-item>
		</md-menu-content>
	</md-menu> -->

	<md-button class="md-raised md-primary" ui-sref="app.nerds">Login</md-button>
	<md-button class="md-raised">Sign Up</md-button>

</md-toolbar>
